<div class="row">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header page-name="data-analysis-and-statistics.analysis-and-statistics-air-traffic" icon="'line-chart'"
                title="{{ 'Data Analysis and Statistics - Air Traffic' | translate }}">
            </box-header>

            <div class="box-content">

                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <select id="report" class="form-control" ng-model="template" ng-change="selectTemplate(template)" ng-options="item for item in templatesList">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-1" ng-if="!template">
                        <button translate class="btn btn-sm btn-primary btn-save-template" popup popup-text="Save Template as" save-as="true" popup-local-storage-enable="SystemConfiguration:Require confirmation on update"
                            popup-confirm="saveTemplate(inputText); form.$setUntouched()">
                            Save Template
                        </button>
                    </div>
                    <div class="col-xs-6 col-md-4" ng-if="template">
                        <button translate class="btn btn-sm btn-primary btn-delete-template" popup popup-text="Are you sure you want to delete this template?"
                            popup-local-storage-enable="SystemConfiguration:Require confirmation on update" popup-confirm="deleteTemplate(template); form.$setUntouched()">
                            Delete Template
                        </button>
                        <button translate class="btn btn-sm btn-primary btn-update-template" popup popup-text="Are you sure you want to update this template?"
                            popup-local-storage-enable="SystemConfiguration:Require confirmation on update" popup-confirm="updateTemplate(template); form.$setUntouched()">
                            Update Template
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <date-range is-required="::true" control="control" format="{{customDate}}" start-end-adjust="true" date-options="{ minMode: 'month' }"
                                start-name="Start Date *" end-name="End Date *">
                                <!--Datepickers -->
                            </date-range>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <label translate for="billing-centre">Billing Centre</label>
                                <multiselect id="billing-centre" name="billingCentresList" extra-settings="{ displayProp: 'name', idProp: 'name', externalIdProp: '' }"
                                    options="billingCentresList" model="billingCentresModel" events="{ onSelectionChanged: addBillingCentreToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-6">
                                <label translate for="account">Account</label>
                                <multiselect id="account" name="accountsList" extra-settings="{ displayProp: 'name', idProp: 'name', externalIdProp: '' }"
                                    options="accountsList" model="accountsModel" events="{ onSelectionChanged: addAccountToList }">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Row-->
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-3">
                                <label translate for="aerodrome">Aerodrome</label>
                                <multiselect id="aerodrome" name="aerodromesList" extra-settings="{ displayProp: 'aerodrome_name', idProp: 'aerodrome_name', externalIdProp: '' }"
                                    options="aerodromesList" model="aerodromesModel" events="{ onSelectionChanged: addAerodromeToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-3">
                                <label translate for="aircraft-type">Aircraft Type</label>
                                <multiselect id="aircraft-type" name="aircraftTypeList" extra-settings="{ displayProp: 'aircraft_type', idProp: 'aircraft_type', externalIdProp: '' }"
                                    options="aircraftTypeList" model="aircraftTypeModel" events="{ onSelectionChanged: addAircraftToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-3">
                                <label translate for="route">Route</label>
                                <multiselect id="route" name="routeList" extra-settings="{ displayProp: 'name', idProp: 'name', externalIdProp: '' }" options="routeList"
                                    model="routeModel" events="{ onSelectionChanged: addRouteToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-3" ng-if="!KCAA">
                                <label for="mtow">
                                    <span>{{ 'MTOW Category' | translate }}&nbsp;({{ mtowUnitOfMeasure | translate }})</span>
                                </label>
                                <multiselect id="mtow" name="mtowList" extra-settings="{ displayProp: 'upper_limit', idProp: 'upper_limit', externalIdProp: '' }"
                                    options="mtowList" model="mtowModel" events="{ onSelectionChanged: addMTOWToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-3" ng-if="KCAA">
                                <label translate for="flight-level">Flight Level</label>
                                <multiselect id="flight-level" name="flightLevelList" extra-settings="{ displayProp: 'name', idProp: 'name', externalIdProp: '' }"
                                    options="flightLevelList" model="flightLevelModel" events="{ onSelectionChanged: addFlightLevelToList }">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Row-->

                <div class="row" ng-show="KCAA">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-3">
                                <label translate for="mtow-factor-class">MTOW factor class</label>
                                <select id="mtow-factor-class" class="form-control" name="mtowFactorClass" ng-model="mtow_factor_class" ng-change="showMTOWList(mtow_factor_class)">
                                    <option value=""></option>
                                    <option translate value="DOMESTIC">Domestic</option>
                                    <option translate value="REGIONAL">Regional</option>
                                    <option translate value="INTERNATIONAL">International</option>
                                </select>
                            </div>
                            <div class="col-xs-3" ng-show="mtow_factor_class">
                                <label for="mtow">
                                    <span>{{ 'MTOW Category' | translate }}&nbsp;({{ mtowUnitOfMeasure | translate }})</span>
                                </label>
                                <multiselect id="mtow" name="mtowList" extra-settings="{ displayProp: 'upper_limit', idProp: 'upper_limit', externalIdProp: '' }"
                                    options="mtowList" model="mtowModel" events="{ onSelectionChanged: addMTOWToList }">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <input id="flight-type" type="checkbox" name="flightType" ng-click="flight_type ? editable.flight_types = ['DEPARTURE', 'ARRIVAL', 'OVERFLIGHT'] : editable.flight_types = []"
                            ng-model="flight_type">
                        <label translate for="flight-type">Flight Type</label>
                    </div>
                    <div ng-show="flight_type">
                        <div class="col-xs-12 col-md-1">
                            <input id="departure" type="checkbox" name="departure" ng-true-value="'DEPARTURE'" ng-false-value="null" ng-model="editable.flight_types[0]"
                                ng-checked="editable.flight_types[0] ? true : '' ">
                            <label translate for="departure">Departure</label>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            <input id="arrival" type="checkbox" name="arrival" ng-true-value="'ARRIVAL'" ng-false-value="null" ng-model="editable.flight_types[1]"
                                ng-checked="editable.flight_types[1] ? true : '' ">
                            <label translate for="arrival">Arrivals</label>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            <input id="overflight" type="checkbox" name="overflight" ng-true-value="'OVERFLIGHT'" ng-false-value="null" ng-model="editable.flight_types[2]"
                                ng-checked="editable.flight_types[2] ? true : '' ">
                            <label translate for="overflight">Overflights</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <input id="flight-scope" type="checkbox" name="flightScope" ng-click="flight_scope ? editable.flight_scopes = ['DOMESTIC', 'REGIONAL', 'INTERNATIONAL'] : editable.flight_scopes = []"
                            ng-model="flight_scope">
                        <label translate for="flight-scope">Flight Scope</label>
                    </div>
                    <div ng-show="flight_scope">
                        <div class="col-xs-12 col-md-1">
                            <input id="domestic" type="checkbox" name="domestic" ng-true-value="'DOMESTIC'" ng-false-value="null" ng-model="editable.flight_scopes[0]"
                                ng-checked="editable.flight_scopes[0] ? true : '' ">
                            <label translate for="domestic">Domestic</label>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            <input id="regional" type="checkbox" name="regional" ng-true-value="'REGIONAL'" ng-false-value="null" ng-model="editable.flight_scopes[1]"
                                ng-checked="editable.flight_scopes[1] ? true : '' ">
                            <label translate for="regional">Regional</label>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <input id="international" type="checkbox" name="international" ng-true-value="'INTERNATIONAL'" ng-false-value="null" ng-model="editable.flight_scopes[2]"
                                ng-checked="editable.flight_scopes[2] ? true : '' ">
                            <label translate for="international">International</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <input id="flight-schedule-type" type="checkbox" name="flightScheduleType" ng-click="flight_category ? editable.flight_categories = ['SCH', 'NONSCH'] : editable.flight_categories = []"
                            ng-model="flight_category">
                        <label translate for="flight-schedule-type">Flight Schedule Type</label>
                    </div>
                    <div ng-show="flight_category">
                        <div class="col-xs-12 col-md-1">
                            <input id="scheduled" type="checkbox" name="scheduled" ng-true-value="'SCH'" ng-false-value="null" ng-model="editable.flight_categories[0]"
                                ng-checked="editable.flight_categories[0] ? true : '' ">
                            <label translate for="scheduled">Scheduled</label>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <input id="nonscheduled" type="checkbox" name="nonscheduled" ng-true-value="'NONSCH'" ng-false-value="null" ng-model="editable.flight_categories[1]"
                                ng-checked="editable.flight_categories[1] ? true : '' ">
                            <label translate for="nonscheduled">Non-Scheduled</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <input id="flight-rules" type="checkbox" name="flightRules" ng-click="flight_rules ? editable.flight_rules = ['I', 'V'] : editable.flight_rules = []"
                            ng-model="flight_rules">
                        <label translate for="flight-rules">Flight Rule</label>
                    </div>
                    <div ng-show="flight_rules">
                        <div class="col-xs-12 col-md-1">
                            <input id="ifr" type="checkbox" name="ifr" ng-true-value="'I'" ng-false-value="null" ng-model="editable.flight_rules[0]"
                                ng-checked="editable.flight_rules[0] ? true : '' ">
                            <label translate for="ifr">IFR</label>
                        </div>
                        <div class="col-xs-12 col-md-1">
                            <input id="vfr" type="checkbox" name="vfr" ng-true-value="'V'" ng-false-value="null" ng-model="editable.flight_rules[1]"
                                ng-checked="editable.flight_rules[1] ? true : '' ">
                            <label translate for="vfr">VFR</label>
                        </div>
                    </div>
                </div>

            </div>
            <!--Box Content-->
        </div>
        <!--Box Container-->
    </div>
    <!--Full Width Column-->

    <div class="col-xs-12 margin-top-20">
        <div class="box-container">
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label translate for="temporal-group">Temporal Group *</label>
                                <select id="temporal-group" class="form-control" name="temporalGroup" ng-model="editable.temporal_group"
                                    ng-change="editable.fiscal_year = false" required>
                                    <option translate value=""></option>
                                    <option translate value="year">Year</option>
                                    <option translate value="quarter">Quarter</option>
                                    <option translate value="month">Month</option>
                                    <option translate value="week">Week</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label translate for="group-by">Group By</label>
                                <multiselect id="group-by" name="groupByValues" translated-value="name"
                                    extra-settings="{ displayProp: 'name', idProp: 'name', externalIdProp: '', selectionLimit: 1 }"
                                    options="groupByValues" model="groupByModel" events="{ onSelectionChanged: addGroupToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label translate for="sort">Sort By *</label>
                                <ol id="my-sort" class="sortable" ng-model="editable.sort">
                                    <li ng-repeat="item in sortList track by item.id" data-index="{{$index}}">
                                        {{item.name | translate}}
                                    </li>
                                </ol>
                            </div>
                            <div ng-show="editable.temporal_group === 'year' || editable.temporal_group === 'quarter'"
                                class="col-xs-12 col-md-3">
                                <input id="is-fiscal-year" type="checkbox" name="isFiscalYear" ng-model="editable.fiscal_year">
                                <label translate for="is-fiscal-year">Group by Fiscal Year</label>
                            </div>
                        </div>
                        <!--End Row-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 margin-top-20">
        <div class="box-container">
            <form novalidate action="#" name="form" onsubmit="return false">
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">

                                <div class="col-xs-12 col-md-3">
                                    <label translate for="display-value">Values *</label>
                                    <select ng-change="revenue_category = null;" id="display-value" class="form-control" ng-model="display_value"
                                        ng-options="display.value as display.name | translate for display in displayValues"
                                        required>
                                    </select>
                                </div>

                                <div ng-show="display_value === 'revenue_category'" class="col-xs-12 col-md-3">
                                    <label translate for="revenue-category">Category</label>
                                    <select id="revenue-category" class="form-control" ng-model="revenue_category" ng-required="display_value === 'revenue_category'">
                                        <option translate value="sum_aerodrome_charges">Aerodrome Charges</option>
                                        <option translate value="sum_approach_charges">Approach Charges</option>
                                        <option translate value="sum_late_arrival_charges">Late Arrival Charges</option>
                                        <option translate value="sum_late_departure_charges">Late Departure Charges</option>
                                        <option translate value="sum_domestic_passenger_charges">Domestic Passenger Fees</option>
                                        <option translate value="sum_international_passenger_charges">International Passenger Fees</option>
                                        <option translate value="sum_parking_charges">Parking Charges</option>
                                    </select>
                                </div>

                                <div class="col-xs-12 col-md-3">
                                    <label translate for="chart-type">Chart Type *</label>
                                    <select id="chart-type" name="chart-type" class="form-control" ng-model="chartType" required>
                                        <option translate value="bar">Bar</option>
                                        <option translate value="line">Line</option>
                                        <option translate value="pie">Pie</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <input id="display-values" type="checkbox" ng-init="display_values = true"
                                        ng-model="display_values">
                                    <label translate for="display-values">Display values</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <button class="btn btn-primary btn-generate" ng-disabled="form.$invalid || !control.getUTCStartDate() || !control.getUTCEndDate()"
                                        ng-click="datapoints = []; generate(editable, control.getUTCStartDate(), control.getUTCEndDate(), groupBy, chartType); form.$setUntouched()">
                                        <span translate>Generate</span>
                                    </button>

                                    <button class="btn btn-primary" ng-disabled="!datapoints.length">
                                        <div export-table chart-json="csvData" filename="Air_Traffic_Data" error="error" format="csv" button="true">
                                            <span translate>Export CSV</span>
                                        </div>
                                    </button>
                                    <export-pdf element="svg" filename="Air_Traffic_Data" error="error" disable="!datapoints.length" orientation="landscape"
                                        text="Export PDF">
                                    </export-pdf>
                                </div>
                            </div>
                            <!--End Row-->

                            <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                                <!-- Error Handling -->
                            </ng-include>

                            <div class="row" ng-show="noData">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <div class="alert text-center infoAlert">
                                        <span translate>NO DATA FOR THESE SELECTIONS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="chart-div-height col-xs-12 margin-top-10" ng-if="datapoints.length > 0 && !noData">
        <div class="box-container">
            <div class="box-content">
                <div class="row">
                    <c3chart bindto-id="chart" id="chart" labels-format-function="labelFormat" chart-data="datapoints"
                        chart-columns="datacolumns" chart-x="datax">
                        <chart-bar ratio="0.75" />
                        <chart-axes values-x="x" />
                        <chart-legend show-legend="true" legend-position="bottom"/>
                        <chart-size chart-height="{{chartHeight}}" />
                        <chart-axis>
                            <chart-axis-x axis-position="outer-right" axis-label="Air Traffic Data" axis-type="category"/>
                            <chart-axis-y axis-position="outer-right" axis-label="{{ ylabel }}"/>
                        </chart-axis>
                    </c3chart>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End of Main Row-->
