<div id="flight-movement-form" class="form-group">

    <div class="row">
        <div class="col-xs-12" ng-show="showAccountMismatchError">
            <div class="error-handling-container">
                <div class="alert alert-dismissible alert-warning alert-icon" role="alert">
                    <button id="error_button" type="button" ng-click="showAccountMismatchError = null" class="close"
                        data-dismiss="alert">×</button>
                    <span class="glyphicon glyphicon-exclamation-sign icon" aria-hidden="true"></span>
                    <strong translate>Account</strong>
                    <p translate>
                        Account and FLIGHT ID or REGISTRATION NUMBER do not match.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-show="showAircraftTypeMismatchError">
            <div class="error-handling-container">
                <div class="alert alert-dismissible alert-warning alert-icon" role="alert">
                    <button id="error_button" type="button" ng-click="showAircraftTypeMismatchError = null" class="close"
                        data-dismiss="alert">×</button>
                    <span class="glyphicon glyphicon-exclamation-sign icon" aria-hidden="true"></span>
                    <strong translate>Aircraft Type</strong>
                    <p translate>
                        Aircraft Type and REGISTRATION NUMBER do not match.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-show="showBillingCentreMismatchError">
            <div class="error-handling-container">
                <div class="alert alert-dismissible alert-warning alert-icon" role="alert">
                    <button id="error_button" type="button" ng-click="showBillingCentreMismatchError = null" class="close"
                        data-dismiss="alert">×</button>
                    <span class="glyphicon glyphicon-exclamation-sign icon" aria-hidden="true"></span>
                    <strong translate>Billing Centre</strong>
                    <p translate>
                        User BILLING CENTRE and Flight BILLING CENTRE do not match.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-responsive">

        <!-- Calling getDataByIdentifier() when an element has lost focus - US#96849-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="flight-id">
                <span translate>Flight ID *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.flight_id">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="flight-id" class="form-control" type="text" ng-model="flightMovement.flight_id" name="flightId" maxlength="10"
                ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')" uppercase-input required ng-blur="getDataByIdentifier()"/>
        </div>

        <!-- Calling getDataByIdentifier() when an element has lost focus - US#96849-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="reg-num">
                <span translate>Registration Number</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_reg_num">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="reg-num" class="form-control" type="text" ng-model="flightMovement.item18_reg_num" name="item18RegNum"
                ng-blur="getDataByIdentifier()" maxlength="20" ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')"
                uppercase-input/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="date-of-flight">
                <span translate>Date of Flight</span>&nbsp;({{ dateFormat | translate }})&nbsp;<span>*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.date_of_flight">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <p class="input-group">
                <date-picker id="date-of-flight" type="text"
                                ng-change="dateChanged('expiry', expiry.date)" 
                                ng-blur="getDataByIdentifier()"
                                pad-hours="true"
                                show-button-bar="false" class="form-control"
                                max-date="expiry.maxDate"
                                min-date="expiry.minDate"
                                uib-datepicker-popup="{{ dateFormat }}"
                                ng-model="flightMovement.date_of_flight"
                                is-open="expiry.open" close-text="Close"
                                name="dateOfFlight"
                                ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')"
                                required>
                </date-picker>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="expiry.open = !expiry.open">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="dep-time">
                <span translate>Departure Time</span>&nbsp;(<span tranlate>HHmm</span>) *
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.dep_time">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="dep-time" minlength="4" maxlength="4"
                    ng-attr-title="{{flightMovement.dep_time < 2359 ? '' : 'Invalid time format'| translate}}"
                    ng-pattern="/^(?:2[0-3]|[0-1]?[0-9])?:?[0-5]?[0-9]$/" class="form-control"
                    type="text"
                    ng-model="flightMovement.dep_time"
                    name="depTime"
                    ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')"
                    only-numbers required/>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="actual-departure-time">
                <span translate>Actual Departure Time</span>&nbsp;(<span tranlate>HHmm</span>)
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.actual_departure_time">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="actual-departure-time" minlength="4" maxlength="4"
                    ng-pattern="/^(?:2[0-3]|[0-1]?[0-9])?:?[0-5]?[0-9]$/" class="form-control"
                    type="text"
                    ng-model="flightMovement.actual_departure_time"
                    name="actualDepartureTime"
                    ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')"
                    only-numbers/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="dep-aerodrome">
                <span translate>Departure Aerodrome *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.dep_ad">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="dep-aerodrome" name="depAd" class="form-control" type="text" ng-model="flightMovement.dep_ad" 
                ng-change="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' ? flightMovement.item18_dep = '' : '';"
                ng-blur="checkBillingCentreMismatch(flightMovement)"
                ng-disabled="flightMovement.source !== 'manual' && !hasPermission('flight_movement_key_modify')" maxlength="4" only-letters uppercase-input required />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="aircraft-type">
                <span translate>Aircraft Type *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.aircraft_type">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
                <select class="form-control"
                        name="aircraftType"
                        id="aircraft-type"
                        ng-model="flightMovement.aircraft_type"
                        ng-options="item.aircraft_type as item.aircraft_type for item in $parent.aircraftTypesList"
                        ng-change="checkAircraftTypeMatchIdentifier(flightMovement.aircraft_type);"
                        required>
            </select>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="dest-aerodrome">
                <span translate>Destination Aerodrome *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.dest_ad">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="dest-aerodrome" name="destAd" class="form-control" type="text" ng-model="flightMovement.dest_ad"
                ng-change="flightMovement.dest_ad !== 'ZZZZ' ? flightMovement.item18_dest = '' : '';"
                ng-blur="checkBillingCentreMismatch(flightMovement)"
                maxlength="4" only-letters uppercase-input required/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="flight-type">
                <span translate>Flight Type *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.flight_type">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
             <select id="flight-type" name="flightType" class="form-control text-capitalize" ng-model="flightMovement.flight_type" required>
                <option value="S">S</option>
                <option value="N">N</option>
                <option value="G">G</option>
                <option value="M">M</option>
                <option value="X">X</option>
            </select>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="account">
                <span translate>Account</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.associated_account_id">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <dynamic-service-dropdown ng-model="flightMovement.associated_account_id"
                                      id="account" name="account"
                                      dropdown-type="single" service="::accountsService" 
                                      method="findAllActiveMinimalReturn"
                                      is-required="::false"
                                      options="item.id as item.name for item in list"
                                      disabled="disabled.account"
                                      allow-empty="true"
                                      ng-change="checkAccountMatchIdentifier(flightMovement.associated_account_id)">
            </dynamic-service-dropdown>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="arrival-aerodrome">
                <span translate>Arrival Aerodrome</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.arrival_ad">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="arrival-aerodrome" name="arrivalAd" class="form-control" type="text" ng-model="flightMovement.arrival_ad" only-letters uppercase-input />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="arrival-time">
                <span translate>Actual Arrival Time</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.arrival_time">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="arrival-time" minlength="4" maxlength="4"
                   ng-pattern="/^(?:2[0-3]|[0-1]?[0-9])?:?[0-5]?[0-9]$/"
                   class="form-control" type="text"
                   ng-model="flightMovement.arrival_time"
                   name="arrivalTime"
                   only-numbers />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="user-crossing-distance"><span translate>User Crossing Distance</span>&nbsp;<span>({{ distanceUnitOfMeasure }})</span></label>
            <unit-conversion-input id="user-crossing-distance" name="userCrossingDistance" ng-model="flightMovement.user_crossing_distance" />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="flight-status">
                <span translate>Item 18 Status</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_status">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="flight-status" name="item18Status" class="form-control" type="text" ng-model="flightMovement.item18_status" />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="item18-rmk">
                <span translate>Item 18 Remarks</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_rmk">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="item18-rmk" name="item18Rmk" class="form-control" type="text" ng-model="flightMovement.item18_rmk"/>
        </div>

        <!--if departure aerodrome is ZZZZ, item 18 DEP/ is mandatory. If it is not ZZZZ item 18 DEP/ should be empty-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="item18-dep">
                <span translate>Item 18 Departure Aerodrome</span>
                <span ng-show="flightMovement.dep_ad === 'ZZZZ' || flightMovement.dep_ad === 'AFIL'">*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_dep">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="item18-dep" name="item18Dep" class="form-control" type="text" ng-model="flightMovement.item18_dep" 
                ng-required="flightMovement.dep_ad === 'ZZZZ' || flightMovement.dep_ad === 'AFIL' ? true : false"
                ng-disabled="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' ? true : false"
                ng-blur="checkBillingCentreMismatch(flightMovement)" uppercase-input />
        </div>

        <!--if destination aerodrome is ZZZZ, item 18 DEST/ is mandatory. If it is not ZZZZ item 18 DEST/ should be empty-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="item18-dest">
                <span translate>Item 18 Destination Aerodrome</span>
                <span ng-show="flightMovement.dest_ad === 'ZZZZ'">*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_dest">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="item18-dest" name="item18Dest" class="form-control" type="text" ng-model="flightMovement.item18_dest" 
                ng-required="flightMovement.dest_ad === 'ZZZZ' ? true : false"
                ng-disabled="flightMovement.dest_ad !== 'ZZZZ' ? true : false"
                ng-blur="checkBillingCentreMismatch(flightMovement)" uppercase-input />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="item18-aircraft">
                <span translate>Item 18 Aircraft Type</span>
                <span ng-show="flightMovement.aircraft_type === 'ZZZZ'">*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_aircraft_type">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="item18-aircraft" name="item18Aircraft" class="form-control" type="text" ng-model="flightMovement.item18_aircraft_type"
                   ng-disabled="flightMovement.aircraft_type !== 'ZZZZ' ? true : false"
                   ng-required="flightMovement.aircraft_type === 'ZZZZ'? true : false" uppercase-input />
        </div>

        <!--if departure ad/dest ad are not ZZZZ and are the same, speed is mandatory-->
        <!--if item 18 DEP/ and item 18 DEST/ are not blank, and are the same, speed is mandatory-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="cruising-speed-or-mach-number">
                <span translate>Cruising Speed</span>&nbsp;(Knnnn/Nnnnn/Mnnn)
                <span ng-show="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' 
                    && flightMovement.dest_ad !== 'ZZZZ' && flightMovement.dep_ad === flightMovement.dest_ad 
                    || flightMovement.item18_dest !== null && flightMovement.item18_dep !== null 
                    && flightMovement.item18_dest !== '' && flightMovement.item18_dep !== ''
                    && flightMovement.item18_dest === flightMovement.item18_dep">*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.cruising_speed_or_mach_number">&nbsp;<i class="fa fa-flag"></i></span>
            </label>

            <input id="cruising-speed-or-mach-number"
                    class="form-control" type="text"
                    maxlength="5"
                    minlength="4"
                    ng-model="flightMovement.cruising_speed_or_mach_number"
                    ng-pattern="/^([kK][0-9]{4})|([mM][0-9]{3})|([nN][0-9]{4})$/"
                    name="cruisingSpeedOrMachNumber"
                    ng-required="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' 
                        && flightMovement.dest_ad !== 'ZZZZ' && flightMovement.dep_ad === flightMovement.dest_ad 
                        || flightMovement.item18_dest !== null && flightMovement.item18_dep !== null 
                        && flightMovement.item18_dest !== '' && flightMovement.item18_dep !== ''
                        && flightMovement.item18_dest === flightMovement.item18_dep ? true : false" uppercase-input />
        </div>

        <!--if departure ad/dest ad are not ZZZZ and are the same, eet is mandatory-->
        <!--if item 18 DEP/ and item 18 DEST/ are not blank, and are the same, eet is mandatory-->
        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="estimated-elapsed-time">
                <span translate>Elapsed Time</span>&nbsp;(<span tranlate>HHmm</span>)
                <span ng-show="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' 
                    && flightMovement.dest_ad !== 'ZZZZ' && flightMovement.dep_ad === flightMovement.dest_ad 
                    || flightMovement.item18_dest !== null && flightMovement.item18_dep !== null 
                    && flightMovement.item18_dest !== '' && flightMovement.item18_dep !== ''
                    && flightMovement.item18_dest === flightMovement.item18_dep || domesticDestAd">*</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.estimated_elapsed_time">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>

            <input id="estimated-elapsed-time" minlength="4" maxlength="4"
                    class="form-control" type="text" empty-to-null
                    ng-model="flightMovement.estimated_elapsed_time"
                    ng-pattern="/^(?:2[0-3]|[0-1]?[0-9])?:?[0-5]?[0-9]$/"
                    name="estimatedElapsedTime"
                    ng-required="flightMovement.dep_ad !== 'ZZZZ' && flightMovement.dep_ad !== 'AFIL' 
                    && flightMovement.dest_ad !== 'ZZZZ' && flightMovement.dep_ad === flightMovement.dest_ad 
                    || flightMovement.item18_dest !== null && flightMovement.item18_dep !== null 
                    && flightMovement.item18_dest !== '' && flightMovement.item18_dep !== ''
                    && flightMovement.item18_dest === flightMovement.item18_dep || domesticDestAd ? true : false"/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="shouldShowCharge('parking')">
            <label for="parking-time">
                <span translate>Parking Time</span>&nbsp;(<span translate>hours</span>)
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.parking_time">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="parking-time" name="parkingTime" class="form-control" type="number" ng-model="flightMovement.parking_time"/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="showPassengerCounts">
            <label for="passengers-chargeable-intern">
                <span translate>Chargeable International Passengers</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.passengers_chargeable_intern">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="passengers-chargeable-intern" name="passengersChargeableIntern"
                   class="form-control" type="number" min="0" ng-model="flightMovement.passengers_chargeable_intern" />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="showPassengerCounts">
            <label for="passengers-chargeable-domestic">
                <span translate>Chargeable Domestic Passengers</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.passengers_chargeable_domestic">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="passengers-chargeable-domestic" name="passengersChargeableDomestic"
                   class="form-control" type="number" min="0" ng-model="flightMovement.passengers_chargeable_domestic" />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="showPassengerCounts">
            <label for="passengers-child">
                <span translate>Children</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.passengers_child">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="passengers-child" name="passengersChild" class="form-control" type="number" min="0" ng-model="flightMovement.passengers_child" />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="shouldShowCharge('TASP')">
            <label translate for="tasp-charge">{{ taspLabel }} Charge</label>
            <input id="tasp-charge" name="taspCharge" class="form-control" type="number" min="0" ng-model="flightMovement.tasp_charge" 
                ng-disabled="flightMovement.disableTaspFees"/>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="shouldShowCharge('TASP')">
            <label translate for="tasp-charge-currency">{{ taspLabel }} Charge Currency</label>
            <select id="tasp-charge-currency" name="taspChargeCurrency" class="form-control" ng-model="flightMovement.tasp_charge_currency"
                ng-options="item as ((item.currency_name | translate) + ' (' + item.currency_code + ')') for item in $parent.taspCurrenciesList.content track by item.id"></select>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2" ng-if="shouldShowCharge('parking')">
            <label translate for="flight-rule">Flight Rule</label>
            <select id="flight-rule" name="flightRule" class="form-control" ng-model="flightMovement.flight_rules">
                <option value=""></option>
                <option value="I">I</option>
                <option value="V">V</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
            </select>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="flight-level">
                <span translate>Flight Level</span>&nbsp;(<span tranlate>Fnnn</span>)
                <span ng-show="flightLevelRequired">*</span>
                <span title="{{ 'Manually Changed Field' | translate }}" ng-show="manual.flight_level">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="flight-level" name="flightLevel" class="form-control" ng-model="flightMovement.flight_level" maxlength="5"
                ng-pattern="/^(?:[fF|aA]\d{3}|[sS|mM]\d{4})$/" ng-required="flightLevelRequired" uppercase-input />
        </div>

        <div class="col-xs-12 col-md-4 col-lg-2">
            <label for="item18-operator">
                    <span translate>Item 18 Operator</span>
                    <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.item18_operator">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="item18-operator" name="item18Operator" class="form-control" type="text" ng-model="flightMovement.item18_operator"
                ng-blur="getDataByIdentifier()" uppercase-input/>
        </div>

        <div class="col-xs-12">
            <label for="fpl-route">
                <span translate>Route</span>
                <span ng-show="!flightMovement.radar_route_text"> *</span>
                <span title="{{ 'Manually Changed Field' | translate}}" ng-show="manual.fpl_route">&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></span>
            </label>
            <input id="fpl-route" name="fplRoute" class="form-control" ng-model="flightMovement.fpl_route" uppercase-input ng-required="!flightMovement.radar_route_text"/>
        </div>

        <div class="col-xs-12" ng-if="showRadarRoute && flightMovement.radar_route_text">
            <label translate for="radar-route-text">Radar Route</label>
            <input id="radar-route-text" name="radarRouteText" class="form-control" ng-model="flightMovement.radar_route_text" readonly/>
        </div>

        <div class="col-xs-12" ng-if="showFlightNotes && flightMovement.flight_notes">
            <label for="flight-notes"><span translate>Flight Notes</span></label>
            <input id="flight-notes" name="flightNotes" class="form-control" ng-model="flightMovement.flight_notes" readonly/>
        </div>

        <div class="col-xs-12" ng-if="flightMovement.status_notes">
            <label for="status-notes"><span translate>Status Notes</span></label>
            <input id="status-notes" name="statusNotes" class="form-control" ng-model="flightMovement.status_notes" readonly/>
        </div>

        <div class="col-xs-12" ng-if="showDeletionReason && flightMovement.status !== 'DELETED' && flightMovement.id">
            <label for="deletion-reason"><span translate>Deletion Reason</span></label>
            <input id="deletion-reason" name="deletionReason" class="form-control" ng-model="flightMovement.deletion_reason"/>
        </div>

        <div class="col-xs-12" ng-if="flightMovement.status === 'DELETED'">
                <label for="undeletion-reason"><span translate>Undeletion Reason</span></label>
                <input id="undeletion-reason" name="undeletionReason" class="form-control" ng-model="flightMovement.undeletion_reason"/>
            </div>
    </div>
</div>
