<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box-container">
            <box-header page-name="introduction" icon="'globe'" title="{{ 'Welcome' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <img alt="CAA Botswana" src="assets/images/logo.png"/>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1><bold translate>Welcome</bold></h1>
                        <h5 translate>AVIATION REVENUE MANAGEMENT SYSTEM</h5>
                    </div>
                     <div class="col-sm-12 col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
