<div class="row">
    <div class="col-xs-12 col-md-12" ng-class="{'col-md-6 col-split-xs-12': toggle}">
        <div class="box-container">
            <box-header page-name="exemptions.exempt-flight-route-management" toggle="toggle" icon="'external-link'"
                title="{{ 'Exempt Flight Routes' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label translate for="text-filter">Filter</label>
                        <input id="text-filter" class="form-control" type="text" ng-model="textFilter" empty-to-null
                        ng-keyup="$event.keyCode == 13 && refresh()"/>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <button translate ng-click="refresh()" 
                            class="btn btn-primary pull-right">Refresh</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" export-table sort-query-string="getSortQueryString()" back-end-export="true" 
                            service="flightRouteExemptionsService" query-string="filterParameters">
                            <table class="table table-striped table-bordered table-hover table-condensed" sort-query-string="getSortQueryString" 
                            table-sort="refresh()">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap" sort="departureAerodrome">{{'Departure Aerodrome' | translate}}</th>
                                        <th class="text-nowrap" sort="destinationAerodrome">{{'Destination Aerodrome' | translate}}</th>
                                        <th class="text-nowrap" sort="exemptionInEitherDirection">{{'Bidirectional Route' | translate}}</th>
                                        <th class="text-nowrap" sort="enrouteFeesAreExempt">{{'Enroute Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="approachFeesAreExempt">{{'Approach Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="aerodromeFeesAreExempt">{{'Aerodrome Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="lateArrivalFeesAreExempt" ng-if="shouldShowCharge('arrival')">{{'Late Arrival Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="lateDepartureFeesAreExempt" ng-if="shouldShowCharge('departure')">{{'Late Departure Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="parkingFeesAreExempt" ng-if="shouldShowCharge('parking')">{{'Parking Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="internationalPax">{{'International PAX Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="domesticPax">{{'Domestic PAX Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="extendedHours" ng-if="shouldShowCharge('extendedHours')">{{'Extended Hours Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap text-right" sort="exemptRouteFloor">{{'Exempt Route Floor' | translate}}</th>
                                        <th class="text-nowrap text-right" sort="exemptRouteCeiling">{{'Exempt Route Ceiling' | translate}}</th>
                                        <th class="text-nowrap" sort="flightNotes">{{'Flight Notes' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="edit(item)" ng-repeat="item in list" ng-class="{'highlight': editable.id === item.id}">
                                        <td class="text-nowrap">{{ item.departure_aerodrome }}</td>
                                        <td class="text-nowrap">{{ item.destination_aerodrome }}</td>
                                        <td class="text-nowrap">{{ item.exemption_in_either_direction | translate }}</td>
                                        <td class="text-nowrap">{{ item.enroute_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.approach_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.aerodrome_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('arrival')">{{ item.late_arrival_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('departure')">{{ item.late_departure_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('parking')">{{ item.parking_fees_are_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.international_pax | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.domestic_pax | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('extendedHours')">{{ item.extended_hours | number: 2 }}</td>
                                        <td class="text-right">{{ item.exempt_route_floor | number: 2 }}</td>
                                        <td class="text-right">{{ item.exempt_route_ceiling | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.flight_notes }}</td>
                                    </tr>
                                    <tr ng-show="!list.length">
                                        <td class="text-center" translate colspan="15">There are no Exempt Flight Routes data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-display></pagination-display>
                        <ul uib-pagination total-items="pagination.total_elements" ng-change="refresh()"
                            max-size="::20" items-per-page="pagination.size" ng-model="pagination.number" class="pagination-sm"
                            boundary-link-numbers="::true">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="crud-second-container" ng-show="toggle">
        <div class="box-container">
            <box-header ng-show="editable.id === null" icon="'external-link'" title="{{ 'Create an Exempt Flight Route' | translate }}"></box-header>
            <box-header ng-show="editable.id !== null" icon="'external-link'" title="{{ 'Edit an Exempt Flight Route' | translate }}"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="form" onsubmit="return false">
                    <fieldset ng-disabled="!hasPermission('exempt_flight_route_modify')">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="departure_aerodrome">{{'Departure Aerodrome' | translate}} *</label>
                                <input id="departure_aerodrome" name="departureAerodrome" type="text" class="form-control" ng-model="editable.departure_aerodrome"
                                    uppercase-input minlength="4" maxlength="4" ng-pattern="/^[a-zA-Z0-9]{4}$/" required>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="destination_aerodrome">{{'Destination Aerodrome' | translate}} *</label>
                                <input id="destination_aerodrome" name="destinationAerodrome" type="text" class="form-control" ng-model="editable.destination_aerodrome"
                                    uppercase-input minlength="4" maxlength="4" ng-pattern="/^[a-zA-Z0-9]{4}$/" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="exemption_in_either_direction">{{'Bidirectional Route' | translate}} *</label>
                                <boolean-text id="exemption_in_either_direction" name="exemptionInEitherDirection" class="form-control" ng-model="editable.exemption_in_either_direction"
                                        required>
                                </boolean-text>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="enroute_fees_are_exempt">{{'Enroute Fees Exempt' | translate}} * (%)</label>
                                <input id="enroute_fees_are_exempt" name="enrouteFeesAreExempt" class="form-control" ng-model="editable.enroute_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="approach_fees_are_exempt">{{'Approach Fees Exempt' | translate}} * (%)</label>
                                <input id="approach_fees_are_exempt" name="approachFeesAreExempt" class="form-control" ng-model="editable.approach_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="aerodrome_fees_are_exempt">{{'Aerodrome Fees Exempt' | translate}} * (%)</label>
                                <input id="aerodrome_fees_are_exempt" name="aerodromeFeesAreExempt" class="form-control" ng-model="editable.aerodrome_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('arrival')">
                                <label for="late_arrival_fees_are_exempt">{{'Late Arrival Fees Exempt' | translate}} * (%)</label>
                                <input id="late_arrival_fees_are_exempt" name="lateArrivalFeesAreExempt" class="form-control" ng-model="editable.late_arrival_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('departure')">
                                <label for="late_departure_fees_are_exempt">{{'Late Departure Fees Exempt' | translate}} * (%)</label>
                                <input id="late_departure_fees_are_exempt" name="lateDepartureFeesAreExempt" class="form-control" ng-model="editable.late_departure_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('parking')">
                                <label for="parking_fees_are_exempt">{{'Parking Fees Exempt' | translate}} * (%)</label>
                                <input id="parking_fees_are_exempt" name="parkingFeesAreExempt" class="form-control" ng-model="editable.parking_fees_are_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="international-pax">{{'International PAX Fees Exempt' | translate}} * (%)</label>
                                <input id="international-pax" name="inernationalPax" class="form-control" ng-model="editable.international_pax"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="domestic-pax">{{'Domestic PAX Fees Exempt' | translate}} * (%)</label>
                                <input id="domestic-pax" name="domesticPax" class="form-control" ng-model="editable.domestic_pax"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('extendedHours')">
                                <label for="extended-hours">{{'Extended Hours Fees Exempt' | translate}} * (%)</label>
                                <input id="extended-hours" name="extendedHours" class="form-control" ng-model="editable.extended_hours"
                                    type="number" max="100" min="0" step="1" required>
                                </input >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="exempt-route-floor">{{'Exempt Route Floor' | translate}} *</label>
                                <input id="exempt-route-floor" name="exemptRouteFloor" class="form-control" 
                                    type="number" step="0.01" min="0" max="999" ng-model="editable.exempt_route_floor" required/>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label translate for="exempt-route-ceiling">{{'Exempt Route Ceiling' | translate}} *</label>
                                <input id="exempt-route-ceiling" name="exemptRouteCeiling" class="form-control" type="number" 
                                    step="0.01" min="0" max="999" ng-model="editable.exempt_route_ceiling" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="flight_notes">{{'Flight Notes' | translate}} *</label>
                                <input id="flight_notes" name="flightNotes" type="text" class="form-control" ng-model="editable.flight_notes" required/>
                            </div>
                        </div>

                        <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                            <!-- Error Handling -->
                        </ng-include>

                        <div class="row">
                            <div class="col-xs-12">
                                <button translate type="button" class="btn btn-primary" ng-click="reset(); form.$setUntouched();">
                                    Clear
                                </button>
                                <button translate class="btn btn-primary" ng-show="editable.id !== null" ng-disabled="form.$invalid" popup popup-text="Are you sure you want to update this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on update" popup-confirm="update(editable, editable.id); form.$setUntouched();">Update
                                </button>
                                <button translate class="btn btn-primary" ng-show="editable.id !== null" popup popup-text="Are you sure you want to delete this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on delete" popup-confirm="delete(editable.id); form.$setUntouched()">Delete
                                </button>
                                <button translate class="btn btn-primary" ng-disabled="form.$invalid" ng-show="editable.id === null" ng-click="create(editable); form.$setUntouched();">Create
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
