<div class="row">
    <div class="col-xs-12 col-md-12" ng-class="{'col-md-6 col-split-xs-12': toggle}">
        <div class="box-container">
            <box-header toggle="toggle" icon="'plane'" title="{{ 'Flight Reassignment' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label translate for="text-filter">Filter</label>
                        <input id="text-filter" class="form-control" type="text" ng-model="textFilter" empty-to-null
                            ng-keyup="$event.keyCode == 13 && refreshOverride()"/>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <label translate for="account">Account</label>
                        <dynamic-service-dropdown empty-to-null ng-model="accountFilter" id="accountFilter" name="accountFilter" dropdown-type="single"
                            service="::accountsService" method="findAllMinimalReturn" options="item.id as item.name for item in list track by item.id"
                            ng-change="refreshOverride()" allow-empty="true">
                        </dynamic-service-dropdown>
                    </div>
                    <div class="col-xs-12  col-md-3">
                        <button translate ng-click="refreshOverride()"
                            class="btn btn-primary pull-right">Refresh
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" export-table back-end-export="true" service="flightReassignmentService"
                            sort-query-string="getSortQueryString()" query-string="filterParameters">
                            <table class="table table-striped table-bordered table-hover table-condensed" sort-query-string="getSortQueryString"
                                table-sort="refreshOverride()">
                                <thead>
                                    <tr>
                                        <th translate sort="account">Reassigned Company</th>
                                        <th translate sort="startDate">Start Date</th>
                                        <th translate sort="endDate">End Date</th>
                                        <th translate sort="identificationType">Identifier Type</th>
                                        <th translate sort="identifierText">Identifier Text</th>
                                        <th translate sort="aerodromes">Aerodromes</th>
                                        <th translate sort="appliesToTypeArrival">Flight Type</th>
                                        <th translate sort="appliesToScopeDomestic">Flight Scope</th>
                                        <th translate sort="appliesToNationalityNat">Aircraft Nationality</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="form.$setUntouched(); edit(item); populateDropdowns(); updateAerodromeMultiselect();" 
                                        ng-repeat="item in list"
                                        ng-class="{'highlight': editable.id === item.id}">
                                        <td class="text-nowrap">{{ item.account.name }}</td>
                                        <td class="text-nowrap">{{ item.start_date | dateConverter  }}</td>
                                        <td class="text-nowrap">{{ item.end_date | dateConverter  }}</td>
                                        <td class="text-nowrap">{{ item.identification_type }}</td>
                                        <td class="text-nowrap">{{ item.identifier_text }}</td>
                                        <td class="text-nowrap">{{ ::getAerodromeIdentifiers(item.aerodrome_identifiers) }}</td>
                                        <td class="text-nowrap">
                                            {{ ::getApplication(item, 'applies_to_type') }}
                                        </td>
                                        <td class="text-nowrap">
                                            {{ ::getApplication(item, 'applies_to_scope') }}
                                        </td>
                                        <td class="text-nowrap">
                                            {{ ::getApplication(item, 'applies_to_nationality') }}
                                        </td>
                                    </tr>
                                    <tr ng-show="!list.length || !list">
                                        <td colspan="9" class="text-center" translate>There are no Reassigned Flights</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-display></pagination-display>
                        <ul uib-pagination total-items="pagination.total_elements" ng-change="refreshOverride()" max-size="::20" items-per-page="pagination.size"
                            ng-model="pagination.number" class="pagination-sm" boundary-link-numbers="::true">
                        </ul>
                    </div>

                    <div ng-show="!toggle" class="row col-xs-15">
                        <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                            <!-- Error Handling -->
                        </ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="crud-second-container" ng-show="toggle">
        <div class="box-container">
            <box-header icon="'plane'" ng-show="editable.id === null" title="{{ 'Create a Flight Reassignment' | translate }}"></box-header>
            <box-header icon="'plane'" ng-show="editable.id !== null" title="{{ 'Edit a Flight Reassignment' | translate }}"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="form" onsubmit="return false">
                    <fieldset ng-disabled="!hasPermission('flight_reassignment_modify')">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="account">{{ 'Reassigned Company' | translate }} *</label>
                                <dynamic-service-dropdown ng-model="editable.account" id="account" name="account" 
                                    dropdown-type="single" service="::accountsService" method="findAllCreditMinimalActiveReturn"
                                    is-required="::true" options="item as item.name for item in list track by item.name">
                                </dynamic-service-dropdown>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="identification_type">{{ 'Identifier Type' | translate }} *</label>
                                <select id="identification_type" class="form-control" ng-model="editable.identification_type"
                                    ng-change="setMaxLength(editable.identification_type);">
                                    <option translate value="ICAO code">ICAO Code</option>
                                    <option translate value="Flight Id">Flight Identifier</option>
                                    <option translate value="Registration">Registration</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="aerodromes">{{ 'Aerodromes' | translate }} *</label>
                                <multiselect id="aerodromes" name="aerodromesList"
                                             extra-settings="{ displayProp: 'aerodrome_name', idProp: 'aerodrome_name', externalIdProp: '' }"
                                    options="aerodromesList" model="aerodromesModel" events="{ onSelectionChanged: addAerodromeToList }">
                                </multiselect>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="identifier_text">{{ 'Identifier Text' | translate }} *</label>
                                <input ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" maxlength="{{ maxLength }}"
                                    maxlength="3" id="identifier_text" name="identifier_text" type="identifier_text" class="form-control text-uppercase"
                                    ng-model="editable.identifier_text"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="start_date">{{ 'Start Date' | translate }} *</label>
                                <p class="input-group">
                                    <date-picker id="start_date" name="startDate" type="text" ng-change="dateChanged('start', editable.start)" ng-pattern="datePickerRegex"
                                                 show-button-bar="false" class="form-control" uib-datepicker-popup="{{ dateFormat }}" uib-datepicker-popup="yyyy-MM-dd"
                                                 ng-model="editable.start_date" is-open="startDate.open" ng-attr-title="{{ editable.start ? '' : 'Please fill out this field' | translate }}"
                                                 close-text="Close" required>
                                    </date-picker>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="startDate.open = !startDate.open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="end-date">{{ 'End Date' | translate }} *</label>
                                <p class="input-group">
                                    <date-picker id="end_date" name="endDate" type="text" ng-change="dateChanged('end', editable.end)" ng-pattern="datePickerRegex"
                                                 show-button-bar="false" class="form-control" uib-datepicker-popup="{{ dateFormat }}" uib-datepicker-popup="yyyy-MM-dd"
                                                 ng-model="editable.end_date" is-open="endDate.open" ng-attr-title="{{editable.end ? '' : 'Please fill out this field' | translate}}"
                                                 close-text="Close" required>
                                    </date-picker>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="endDate.open = !endDate.open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label translate>Flight Type</label>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_type_arrival" name="applies_to_type_arrival" type="checkbox" ng-model="editable.applies_to_type_arrival" />
                                        <span translate>Arrival</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_type_departure" name="applies_to_type_departure" type="checkbox" ng-model="editable.applies_to_type_departure"/>
                                        <span translate>Departure</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_type_domestic" name="applies_to_type_domestic" type="checkbox" ng-model="editable.applies_to_type_domestic"/>
                                        <span translate>Domestic</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_type_overflight" name="applies_to_type_overflight" type="checkbox" ng-model="editable.applies_to_type_overflight"/>
                                        <span translate>Overflight</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label translate>Flight Scope</label>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_scope_domestic" name="applies_to_scope_domestic" type="checkbox" ng-model="editable.applies_to_scope_domestic"/>
                                        <span translate>Domestic</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_scope_regional" name="applies_to_scope_regional" type="checkbox" ng-model="editable.applies_to_scope_regional"/>
                                        <span translate>Regional</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_scope_international" name="applies_to_scope_international" type="checkbox" ng-model="editable.applies_to_scope_international"/>
                                        <span translate>International</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label translate>Aircraft Nationality</label>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_nationality_national" name="applies_to_nationality_national" type="checkbox" ng-model="editable.applies_to_nationality_national"/>
                                        <span translate>National</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="applies_to_nationality_foreign" name="applies_to_nationality_foreign" type="checkbox" ng-model="editable.applies_to_nationality_foreign"/>
                                        <span translate>Foreign</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'"></ng-include>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-reset" translate ng-click="reset(); form.$setUntouched();">
                                    Clear
                                </button>
                                <button class="btn btn-primary btn-create" translate
                                    ng-disabled="form.$invalid || editable.daily_schedule === null || editable.daily_schedule === ''"
                                    ng-show="editable.id === null" ng-click="create(editable); form.$setUntouched(); reset();">
                                    Create
                                </button>
                                <button class="btn btn-primary btn-update" translate ng-disabled="form.$invalid"
                                    ng-show="editable.id !== null" ng-click="update(editable, editable.id); form.$setUntouched(); reset();">
                                    Update
                                </button>
                                <button class="btn btn-primary btn-delete" translate ng-show="editable.id !== null"
                                    popup popup-text="Are you sure you want to delete this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on delete"
                                    popup-confirm="delete(editable.id); form.$setUntouched();">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
