<div class="row">
    <div class="col-xs-12 col-md-6">
        <label for="password1" translate>{{ name1 }}</label>
        <input id="password1" ng-paste="$event.preventDefault();" class="form-control" name="password" type="password" min-length="{{ minLength }}"
            ng-blur="checkPasswords(password1, password2)"
            ng-change="checkPasswords(password1, password2)"
            ng-model="password1" autocomplete="new-password"
            ng-model-options="{ allowInvalid: true }" />
    </div>
    <div class="col-xs-12 col-md-6">
        <label for="password2" translate>{{ name2 }}</label>
        <input id="password2" ng-paste="$event.preventDefault();" class="form-control" name="passwordConfirm" type="password" min-length="{{ minLength }}"
            ng-blur="checkPasswords(password1, password2)"
            ng-change="checkPasswords(password1, password2)"
            ng-model="password2" autocomplete="new-password"
            ng-model-options="{ allowInvalid: true }" />
    </div>
</div>
