[ng-class="main.password-change"] {

  width: calc(100% - 300px) !important;
  overflow: hidden !important;

  .notification {
    @extend .feedback;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
}
