<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box-container">
            <box-header icon="'user'" title="{{ 'Password Change' | translate }}"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="form" onsubmit="return false">

                    <div class="row">
                        <div class="col-xs-7 col-md-offset-2">
                            <p class="notification">
                                <span translate ng-bind-html="notificationText"></span>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label translate for="email">Email Address *</label>
                            <input id="email" name="email" class="form-control" type="text"
                                ng-model="email" readonly/>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label translate for="login">User Login *</label>
                            <input id="login" name="login" class="form-control"
                                type="text" ng-model="login" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="current-password">
                                <span translate>Current Password</span>&nbsp;*</label>
                            <input id="current-password" name="currentPassword" class="form-control"
                                type="password" ng-model="editable.old_password" required/>
                        </div>
                    </div>

                    <password name-1="New Password *" name-2="Confirm New Password *" error="error"
                        reset-pass="resetPass" required password="editable.new_password"></password>

                    <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                        <!-- Error Handling -->
                    </ng-include>

                    <div class="row">
                        <div class="col-xs-12">
                            <button translate class="btn btn-primary" ng-disabled="form.$invalid || editable.new_password === null"
                                popup popup-text="Are you sure you want to update this?"
                                popup-local-storage-enable="SystemConfiguration:Require confirmation on update"
                                popup-confirm="updatePassword(editable); form.$setUntouched();">Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
