<div class="row">

    <div class="col-xs-12 col-md-12" ng-class="{'col-md-6 col-split-xs-12': toggle}">

        <div class="box-container">

            <box-header page-name="charges-and-formulas.unified-tax-management" toggle="toggle" icon="'check-square-o'"
                title="{{ 'Unified Tax Management'  | translate }}"></box-header>

            <div class="box-content">

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label translate for="text-filter">Filter</label>
                        <input id="text-filter" class="form-control" type="text"
                            ng-keyup="$event.keyCode == 13 && refreshOverride()" ng-model="search" />
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <button translate ng-click="refreshOverride()" class="btn btn-primary pull-right">Refresh
                        </button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="table-responsive" export-table sort-query-string="getSortQueryString()"
                            query-string="filterParameters" back-end-export="true" service="unifiedTaxValidityManagementService">
                            <table class="table table-striped table-bordered table-hover table-condensed"
                                sort-query-string="getSortQueryString" table-sort="refreshOverride()">
                                <thead>
                                    <tr>

                                        <th translate class="text-nowrap" sort="from_validity_year">Start</th>
                                        <th translate class="text-nowrap" sort="to_validity_year">End</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="showTaxes(item);" ng-repeat="item in listUnifiedTaxValidity" ng-class="{'highlight': editableValidity.id === item.id}">

                                        <td class="text-nowrap">{{ ::item.from_validity_year | date: 'yyyy' }}</td>
                                        <td class="text-nowrap">{{ ::item.to_validity_year | date: 'yyyy' }}</td>

                                    </tr>
                                    <tr ng-show="!listUnifiedTaxValidity.length">
                                        <td translate class="text-center" colspan="6">There are no Unified Tax data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <table class="table table-striped table-bordered table-hover table-condensed"
                            sort-query-string="getSortQueryString" table-sort="refreshOverride()">
                            <thead>
                                <tr>
                                    <th translate class="text-nowrap" sort="id">id</th>
                                    <th translate class="text-nowrap" sort="from_manufacture_year">From(Year)</th>
                                    <th translate class="text-nowrap" sort="to_manufacture_year">To(Year)</th>
                                    <th translate class="text-nowrap" sort="rate">Unified Tax Rate</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="editTax(item);" ng-repeat="item in listUnifiedTax"
                                    ng-class="{'highlight': editableTax.id === item.id}">
                                    <td class="text-nowrap">{{ ::item.id }}</td>
                                    <td class="text-nowrap">{{ ::item.from_manufacture_year | date: 'yyyy'  }}</td>
                                    <td class="text-nowrap">{{ ::item.to_manufacture_year | date: 'yyyy' }}</td>
                                    <td class="text-nowrap">{{ ::item.rate }}</td>
                                </tr>
                                <tr ng-show="!listUnifiedTax.length">
                                    <td translate class="text-center" colspan="6">There are no Unified Tax data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <pagination-display></pagination-display>
                    <ul uib-pagination total-items="pagination.total_elements" ng-change="refreshOverride()" max-size="::20"
                        items-per-page="pagination.size" ng-model="pagination.number" class="pagination-sm"
                        boundary-link-numbers="::true">
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div id="crud-second-container" ng-show="toggle">
        <div class="box-container">
            <box-header ng-show="editableValidity.id === null" icon="'check-square-o'"
                title="{{ 'Add a Unified Tax ' | translate }}"></box-header>
            <box-header ng-show="editableValidity.id !== null" icon="'check-square-o'"
                title="{{ 'Edit a Unified Tax' | translate }}"></box-header>
            <div class="box-content">


                <form novalidate action="#" name="formValidity" onsubmit="return false">

                    <fieldset ng-disabled="!hasPermission('unified_tax_modify')">

                        <div class="row row-responsive">
                            <div class="col-xs-12 col-md-6">
                                <label for="from_validity_year">
                                    {{ 'Start Period *' | translate }} (<span translate>yyyy</span>)
                                </label>
                                <p class="input-group">
                                    <input ng-model-options="{ timezone: 'UTC' }" id="from_validity_year" name="from_validity_year" type="text"
                                        class="form-control" uib-datepicker-popup="yyyy"
                                        ng-model="editableValidity.from_validity_year" is-open="openfromValidityYear"
                                        datepicker-options="{ formatYear: 'yyyy', startingDay: 1, minMode: 'year' }"
                                        required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            ng-click="openfromValidityYear = !openfromValidityYear">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="to_validity_year">
                                    {{ 'End Period *' | translate }} (<span translate>yyyy</span>)
                                </label>
                                <p class="input-group">
                                    <input ng-model-options="{ timezone: 'UTC' }" id="to_validity_year" name="to_validity_year" type="text"
                                        class="form-control" uib-datepicker-popup="yyyy"
                                        ng-model="editableValidity.to_validity_year" is-open="opentoValidityYear"
                                        datepicker-options="{ formatYear: 'yyyy', startingDay: 1, minMode: 'year' }"
                                        required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            ng-click="opentoValidityYear =!opentoValidityYear">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <ng-include
                            src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                            <!-- Error Handling -->
                        </ng-include>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-reset" translate
                                    ng-click="resetValidity(); formValidity.$setUntouched();">
                                    Clear
                                </button>
                                <button class="btn btn-primary btn-update" translate ng-show="editableValidity.id !== null"
                                    ng-disabled="formValidity.$invalid" popup popup-text="Are you sure you want to update this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on update"
                                    popup-confirm="updateValidity(editableValidity, editableValidity.id); formValidity.$setUntouched();">Update
                                </button>
                                <button class="btn btn-primary btn-delete" translate ng-show="editableValidity.id !== null"
                                    popup popup-text="Are you sure you want to delete this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on delete"
                                    popup-confirm="deleteValidity(editableValidity.id); formValidity.$setUntouched()">Delete
                                </button>
                                <button class="btn btn-primary btn-create" translate ng-disabled="formValidity.$invalid"
                                    ng-show="editableValidity.id === null"
                                    ng-click="createValidity(editableValidity); formValidity.$setUntouched();">Create
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="box-container margin-top-20">
            <box-header ng-show="editableTax.id === null" icon="'check-square-o'"
                title="{{ 'Add a Unified Tax item' | translate }}"></box-header>
            <box-header ng-show="editableTax.id !== null" icon="'check-square-o'"
                title="{{ 'Edit a Unified Tax item' | translate }}"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="formTax" onsubmit="return false">
                    <fieldset ng-disabled="!hasPermission('unified_tax_modify')">
                        <div class="row row-responsive">
                            <div class="col-xs-12 col-md-6">
                                <label for="from_manufacture_year">
                                    {{ 'From A/C Manufacturing Year *' | translate }} (<span translate>yyyy</span>)
                                </label>
                                <p class="input-group">
                                    <input ng-model-options="{ timezone: 'UTC' }" id="from_manufacture_year" name="from_manufacture_year" type="text"
                                        class="form-control" uib-datepicker-popup="yyyy"
                                        ng-model="editableTax.from_manufacture_year" is-open="openfromManufactureYear"
                                        datepicker-options="{ formatYear: 'yyyy', startingDay: 1, minMode: 'year' }"
                                        required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            ng-click="openfromManufactureYear = !openfromManufactureYear">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="to_manufacture_year">
                                    {{ 'To A/C Manufacturing Year *' | translate }} (<span translate>yyyy</span>)
                                </label>
                                <p class="input-group">
                                    <input ng-model-options="{ timezone: 'UTC' }" id="to_manufacture_year" name="to_manufacture_year" type="text"
                                        class="form-control" uib-datepicker-popup="yyyy"
                                        ng-model="{editableTax.to_manufacture_year |  date:'yyyy'}" is-open="opentoManufactureYear"
                                        datepicker-options="{ formatYear: 'yyyy', startingDay: 1, minMode: 'year' }"
                                        required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            ng-click="opentoManufactureYear =!opentoManufactureYear">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <label for="rate">
                                    {{ 'Unified Tax Applicable *' | translate }}
                                </label>
                                <input id="rate" name="rate"
                                    class="form-control" ng-model="editableTax.rate" required />
                            </div>
                        </div>

                        <ng-include
                            src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                            <!-- Error Handling -->
                        </ng-include>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-reset" translate
                                    ng-click="resetTax(); formTax.$setUntouched();">
                                    Clear
                                </button>
                                <button class="btn btn-primary btn-update" translate ng-show="editableTax.id !== null"
                                    ng-disabled="formTax.$invalid" popup popup-text="Are you sure you want to update this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on update"
                                    popup-confirm="updateTax(editableTax, editableTax.id); formTax.$setUntouched();">Update
                                </button>
                                <button class="btn btn-primary btn-delete" translate ng-show="editableTax.id !== null"
                                    popup popup-text="Are you sure you want to delete this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on delete"
                                    popup-confirm="deleteTax(editableTax.id); formTax.$setUntouched()">Delete
                                </button>
                                <button class="btn btn-primary btn-create" translate ng-disabled="formTax.$invalid"
                                    ng-show="editableTax.id === null"
                                    ng-click="createTax(editableTax); formTax.$setUntouched();">Create
                                </button>
                            </div>
                        </div>

                    </fieldset>

                </form>

            </div>
        </div>

    </div>
</div>
