<div class="row">
    <div class="col-xs-12 col-md-12" ng-class="{'col-md-6 col-split-xs-12': toggle}">
        <div class="box-container">
            <box-header toggle="toggle" page-name="exemptions.exempt-aircraft-and-flights-management" icon="'paper-plane'"
                title="{{ 'Exempt Aircraft and Flights' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label translate for="text-filter">Filter</label>
                        <input id="text-filter" class="form-control" type="text" ng-model="textFilter" empty-to-null
                        ng-keyup="$event.keyCode == 13 && refreshOverride()"/>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <button translate ng-click="refreshOverride()"
                            class="btn btn-primary pull-right">Refresh</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" export-table sort-query-string="getSortQueryString()"
                            back-end-export="true" service="aircraftFlightsExemptionsService" query-string="filterParameters">
                            <table class="table table-striped table-bordered table-hover table-condensed"
                                sort-query-string="getSortQueryString" table-sort="refreshOverride()">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap" sort="aircraftRegistration">{{'Aircraft Registration' | translate}}</th>
                                        <th class="text-nowrap" sort="flightId">{{'Flight Id' | translate}}</th>
                                        <th class="text-nowrap" sort="enrouteFeesExempt">{{'Enroute Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="approachFeesExempt">{{'Approach Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="aerodromeFeesExempt">{{'Aerodrome Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="lateArrivalFeesExempt" ng-if="shouldShowCharge('arrival')">{{'Late Arrival Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="lateDepartureFeesExempt" ng-if="shouldShowCharge('departure')">{{'Late Departure Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="parkingFeesExempt" ng-if="shouldShowCharge('parking')">{{'Parking Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="internationalPax">{{'International PAX Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="domesticPax">{{'Domestic PAX Fees Exempt' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="extendedHours" ng-if="shouldShowCharge('extendedHours')">{{'Extended Hours Fees Exempt' | translate}} (%)</th>
                                        <!-- <th class="text-nowrap" sort="unifiedTax">{{'Unified Tax Fees Exempt' | translate}}&nbsp;(%)</th> -->
                                        <th class="text-nowrap" sort="flightNotes">{{'Flight Notes' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="exemptionStartDate">{{'Exemption Start Date' | translate}} (%)</th>
                                        <th class="text-nowrap" sort="exemptionEndDate">{{'Exemption End Date' | translate}} (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="edit(item); form.$setUntouched()" ng-repeat="item in list" ng-class="{'highlight': editable.id === item.id}">
                                        <td class="text-nowrap">{{ item.aircraft_registration }}</td>
                                        <td class="text-nowrap">{{ item.flight_id }}</td>
                                        <td class="text-nowrap">{{ item.enroute_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.approach_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.aerodrome_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('arrival')">{{ item.late_arrival_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('departure')">{{ item.late_departure_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('parking')">{{ item.parking_fees_exempt | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.international_pax | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.domestic_pax | number: 2 }}</td>
                                        <td class="text-nowrap" ng-if="shouldShowCharge('extendedHours')">{{ item.extended_hours | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.unified_tax | number: 2 }}</td>
                                        <td class="text-nowrap">{{ item.flight_notes }}</td>
                                        <td class="text-nowrap">{{ item.exemption_start_date | dateConverter }}</td>
                                        <td class="text-nowrap">{{ item.exemption_end_date | dateConverter }}</td>
                                    </tr>
                                    <tr ng-show="!list.length">
                                        <td class="text-center" colspan="14" translate>There are no Exempt Aircraft and Flights data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-display></pagination-display>
                        <ul uib-pagination total-items="pagination.total_elements" ng-change="refreshOverride()"
                            max-size="::20" items-per-page="pagination.size"
                            ng-model="pagination.number" class="pagination-sm"
                            boundary-link-numbers="::true">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="crud-second-container" ng-show="toggle">
        <div class="box-container">
            <box-header ng-show="editable.id === null" icon="'paper-plane'" title="{{ 'Create an Exempt Aircraft and Flights' | translate }}"></box-header>
            <box-header ng-show="editable.id !== null" icon="'paper-plane'" title="{{ 'Edit an Exempt Aircraft and Flights' | translate }}"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="form" onsubmit="return false">
                    <fieldset ng-disabled="!hasPermission('exempt_aircraft_flights_modify')">

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="aircraft-registration">{{ 'Aircraft Registration' | translate }}
                                    <span ng-show="!editable.flight_id">*</span>
                                </label>
                                <input id="aircraft-registration" name="aircraftRegistration" class="form-control" type="text"
                                    ng-model="editable.aircraft_registration" maxlength="10" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false"
                                    ng-required="!editable.flight_id" uppercase-input />
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="flight-id">{{ 'Flight Id' | translate }}
                                    <span ng-show="!editable.aircraft_registration">*</span>
                                </label>
                                <input id="flight-id" name="flightId" class="form-control" type="text" ng-model="editable.flight_id"
                                    minlength="2" maxlength="10" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false"
                                    ng-required="!editable.aircraft_registration" uppercase-input />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="enroute-fees-exempt">{{ 'Enroute Fees Exempt' | translate }} * (%)</label>
                                <input id="enroute-fees-exempt" name="enrouteFeesExempt" class="form-control" ng-model="editable.enroute_fees_exempt"
                                     type="number" max="100" min="0" step="1" required>
                                 </input>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="approach-fees-exempt">{{ 'Approach Fees Exempt' | translate }} * (%)</label>
                                <input id="approach-fees-exempt" name="approachFeesExempt" class="form-control" ng-model="editable.approach_fees_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="aerodrome-fees-exempt">{{ 'Aerodrome Fees Exempt' | translate }} * (%)</label>
                                <input id="aerodrome-fees-exempt" name="aerodromeFeesExempt" class="form-control" ng-model="editable.aerodrome_fees_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('parking')">
                                <label for="parking-fees-exempt">{{ 'Parking Fees Exempt' | translate }} * (%)</label>
                                <input id="parking-fees-exempt" name="parkingFeesExempt" class="form-control" ng-model="editable.parking_fees_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('arrival')">
                                <label for="late-arrival-fees-exempt">{{ 'Late Arrival Fees Exempt' | translate }} * (%)</label>
                                <input id="late-arrival-fees-exempt" name="lateArrivalFeesExempt" class="form-control" ng-model="editable.late_arrival_fees_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('departure')">
                                <label for="late-departure-fees-exempt">{{ 'Late Departure Fees Exempt' | translate }} * (%)</label>
                                <input id="late-departure-fees-exempt" name="lateDepartureFeesExempt" class="form-control" ng-model="editable.late_departure_fees_exempt"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="international-pax">{{ 'International PAX Fees Exempt' | translate }} * (%)</label>
                                <input id="international-pax" name="internationalPax" class="form-control" ng-model="editable.international_pax"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="domestic-pax">{{ 'Domestic PAX Fees Exempt' | translate }} * (%)</label>
                                <input id="domestic-pax" name="domesticPax" class="form-control" ng-model="editable.domestic_pax"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" ng-if="shouldShowCharge('extendedHours')">
                                <label for="extended-hours">{{'Extended Hours Fees Exempt' | translate}} * (%)</label>
                                <input id="extended-hours" name="extendedHours" class="form-control" ng-model="editable.extended_hours"
                                    type="number" max="100" min="0" step="1" required>
                                </input >
                            </div>
                            <!-- <div class="col-xs-12 col-md-6">
                                <label for="unified-tax">{{'Unified Tax Fees Exempt' | translate}} * (%)</label>
                                <input id="unified-tax" name="unifiedTax" class="form-control" ng-model="editable.unified_tax"
                                    type="number" max="100" min="0" step="1" required>
                                </input>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="flight-notes">{{ 'Flight Notes' | translate }} *</label>
                                <textarea id="flight-notes" name="flightNotes" class="form-control" type="text"
                                    ng-model="editable.flight_notes" required
                                    ng-attr-title="{{editable.flight_notes ? '' : 'Please indicate which fees are exempt and why' | translate}}">
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <date-range control="control" is-required="::true" start-name="Start Date *" end-name="End Date *" format="{{ customDate }}">
                                <!--Datepickers -->
                            </date-range>
                        </div>

                        <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                            <!-- Error Handling -->
                        </ng-include>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-reset" translate
                                    ng-click="reset(); control.reset(); form.$setUntouched();">Clear
                                </button>
                                <button class="btn btn-primary btn-update" translate ng-show="editable.id !== null"
                                    ng-disabled="form.$invalid" popup popup-text="Are you sure you want to update this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on update"
                                    popup-confirm="updateOverride(editable, editable.id, control.getUTCStartDate(), control.getUTCEndDate()); form.$setUntouched();">
                                    Update
                                </button>
                                <button class="btn btn-primary btn-delete" translate ng-show="editable.id !== null"
                                    popup popup-text="Are you sure you want to delete this?"
                                    popup-local-storage-enable="SystemConfiguration:Require confirmation on delete"
                                    popup-confirm="delete(editable.id); control.reset(); form.$setUntouched();">Delete
                                </button>
                                <button class="btn btn-primary btn-create" translate ng-disabled="form.$invalid"
                                    ng-show="editable.id === null"
                                    ng-click="createOverride(editable, control.getUTCStartDate(), control.getUTCEndDate()); form.$setUntouched();">Create
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
