<div class="row">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header page-name="billing.aviation-billing-engine" icon="'plane'"
                title="{{ 'Aviation Billing' | translate }}"></box-header>
            <div class="box-content">
                <fieldset>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label translate for="invoice_type">Invoice Type *</label>
                            <select id="invoice_type" name="status" ng-change="setBillingInterval(); editable.flights = null; editable.incompleteFlights = null;
                                setDefaultFlights(editable.iata_status);" ng-model="editable.iata_status"
                                class="form-control" required>
                                <option translate value="iata" ng-if="iataSupported">IATA</option>
                                <option translate value="non-iata">NON-IATA</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label translate for="account_type">{{'Account Type' | translate }} *</label>
                            <select id="account_type" name="status" ng-init="editable.account_type = 'all'" ng-change="updateAccounts(editable.account_type); editable.flights = null; editable.incompleteFlights = null; selectedAccounts = [];
                                setIntervalPeriodForUnifiedTax(editable.account_type); setFlightMovementCategory(editable.account_type)" ng-model="editable.account_type"
                                class="form-control" required
                                ng-options="item.id as (item.name | translate) for item in accountTypes">
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label translate for="billing_interval">Billing Interval *</label>
                            <select id="billing_interval" name="billing_interval" class="form-control"
                                ng-model="editable.billing_interval" ng-change="setMonthlyDates()" required>
                                <option ng-if="editable.account_type != 8" translate value="WEEKLY">Weekly</option>
                                <option ng-if="editable.account_type != 8" translate value="MONTHLY">Monthly</option>
                                <option ng-if="editable.account_type === 8" translate value="ANNUALLY">Annual</option>
                                <option ng-if="editable.account_type === 8" translate value="PARTIALLY">Partial
                                </option>
                                <option ng-if="editable.account_type != 8" translate value="OPEN">Open</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div ng-show="editable.billing_interval === 'WEEKLY'">
                                <label for="end_date">
                                    {{ 'End Date Of Invoice *' | translate }} (<span translate>yyyy-MM-dd</span>)
                                </label>
                                <p class="input-group">
                                    <date-picker id="end_date" name="end_date" type="text" ng-pattern="datePickerRegex"
                                        show-button-bar="false" class="form-control"
                                        uib-datepicker-popup="{{ dateFormat }}" ng-model="editable.end_date"
                                        is-open="open" datepicker-options="dateOptions" close-text="Close"
                                        ng-change="setWeekStartDate()" required>
                                    </date-picker>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open = !open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div ng-show="editable.billing_interval === 'MONTHLY'">
                               <label for="billing-period"><span translate>Billing Period</span>&nbsp;*&nbsp;(<span translate>{{ customDate }}</span>)</label>
                                <p class="input-group">
                                    <input id="billing_period" name="billing_period" type="text" class="form-control"
                                        ng-change="setMonthlyDates()" uib-datepicker-popup="yyyy-MM" ng-required="true"
                                        close-text="Close" ng-model="dateObject" is-open="open"
                                        datepicker-options="{ formatYear: 'yyyy-MM', startingDay: 1, minMode: 'month' }" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open = !open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div ng-show="editable.billing_interval === 'ANNUALLY'">
                                <label for="billing_period_annually">
                                    {{ 'Billing period *' | translate }} (<span translate>yyyy</span>)
                                </label>
                                <p class="input-group">
                                    <input id="billing_period_annually" name="billing_period_annually" type="text"
                                        ng-pattern="datePickerRegex" class="form-control" uib-datepicker-popup="yyyy"
                                        ng-model="dateObject" is-open="open" ng-change="setAnnuallyDates()"
                                        datepicker-options="dateOptionsAnnually" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open = !open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div ng-show="editable.billing_interval === 'PARTIALLY'">
                                <label for="billing_period_partially">
                                    {{ 'Billing period *' | translate }} (<span translate>yyyy-MM</span>)
                                </label>
                                <p class="input-group">
                                    <input id="billing_period_partially" name="billing_period_partially" type="text"
                                        class="form-control" uib-datepicker-popup="yyyy-MM" ng-model="dateObject"
                                        is-open="open" ng-change="setPartiallyDates()"
                                        datepicker-options="dateOptionsPartially" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open = !open">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" ng-show="editable.billing_interval === 'OPEN'">
                            <date-range is-required="false" control="control" format="yyyy-MM-dd"
                                ng-click="control.getUTCStartDate() !== null && control.getUTCEndDate() !== null ? refreshList() : ''"
                                ng-keyup="control.getUTCStartDate() === null && control.getUTCEndDate() === null ? refreshList() : ''">
                                <!--Datepickers -->
                            </date-range>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <label for="accounts">
                                <span translate>Accounts</span>
                                <span ng-show="editable.iata_status === 'iata'" translate>(Preview Invoice)</span>
                                <span ng-show="editable.iata_status !== 'iata'">*</span>
                            </label>
                            <multiselect id="accounts" name="accountIdList" extra-settings="{ displayProp: 'name' }"
                                options="listOfAccounts" model="selectedAccounts">
                            </multiselect>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <label translate for="sort">Sort By *</label>
                            <select id="sort" name="sort" ng-init="editable.sort = 'account,dateTime'"
                                ng-model="editable.sort" class="form-control" required>
                                <option translate value="dateTime,account">Date, Account</option>
                                <option translate value="account,dateTime">Account, Date</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <label translate for="userBillingCenterOnly">Select Flights *</label>
                            <select class="form-control" ng-model="editable.userBillingCenterOnly"
                                id="userBillingCenterOnly" name="userBillingCenterOnly"
                                ng-init="editable.iata_status === 'iata' ? editable.userBillingCenterOnly = 'false' : editable.userBillingCenterOnly = 'true'"
                                required>
                                <option translate value="true">Show flights for billing centre</option>
                                <option translate value="false">Show all flights</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3" ng-if="::invoiceByFmCategory" ng-show = " editable.account_type != 8 ">
                            <label for="flightCategory">
                                <span translate>Flight Movement Category</span>
                                <span>*</span>
                            </label>
                            <dynamic-service-dropdown class="text-capitalize" id="flightCategory" allow-empty="true"
                                name="flightCategory" ng-model="editable.flightCategory"
                                options="item.id as (item.name | translate).toLowerCase() for item in list"
                                dropdown-type="single" service="::flightMovementCategoryService"
                                method="getFlightMovementCategoryForAviationInvoice"
                                is-required="::invoiceByFmCategory">
                            </dynamic-service-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button translate
                                ng-disabled="processing === true || !hasPermission('aviation_invoice_validate')"
                                class="btn btn-primary"
                                ng-click="editable.flights = null; editable.incompleteFlights = null; closeHeader(); validate();">
                                Validate
                            </button>
                            <button translate
                                ng-disabled="processing === true || !hasPermission('aviation_invoice_recalculate')"
                                ng-show="recalculateJob.job_execution_status !== 'STARTED' && recalculateJob.job_execution_status !== 'QUEUED'"
                                ng-click="editable.flights = null; editable.incompleteFlights = null; closeHeader(); executeRecalculation();"
                                class="btn btn-primary">
                                Recalculate
                            </button>
                            <button translate
                                ng-show="recalculateJob.job_execution_status === 'STARTED' || recalculateJob.job_execution_status === 'QUEUED'"
                                ng-click="cancelRecalculation();" class="btn btn-default">
                                Cancel Recalculate
                            </button>
                            <button translate
                                ng-disabled="processing === true || (!selectedAccounts.length && editable.iata_status !== 'iata')
                                  || (editable.account_type!=8 && !( invoiceByFmCategory === false || editable.flightCategory)) || !hasPermission('aviation_invoice_generate')"
                                ng-show="generateJob.job_execution_status !== 'STARTED' && generateJob.job_execution_status !== 'QUEUED'"
                                ng-click="editable.flights = null; editable.incompleteFlights = null;  closeHeader(); executeGeneration(0);"
                                class="btn btn-primary">
                                Generate Invoice
                            </button>
                            <button translate
                                ng-disabled="processing === true || (!selectedAccounts.length && editable.iata_status !== 'iata')
                               || (editable.account_type!=8 && !( invoiceByFmCategory === false || editable.flightCategory)) || !hasPermission('aviation_invoice_preview')"
                                ng-show="generateJob.job_execution_status !== 'STARTED' && generateJob.job_execution_status !== 'QUEUED'"
                                ng-click="editable.flights = null; editable.incompleteFlights = null;  closeHeader(); executeGeneration(1);"
                                class="btn btn-primary">
                                Preview Invoice
                            </button>
                            <button translate
                                ng-show="processing === true && generateJob.job_execution_status === 'STARTED' || generateJob.job_execution_status === 'QUEUED'"
                                ng-click="cancelGeneration();" class="btn btn-default">
                                Cancel Invoice
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ng-include
                                src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                                <!-- Error Handling -->
                            </ng-include>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-20" ng-show="editable.incompleteFlights">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header icon="'plane'"
                title="{{ 'Incomplete Flight Movements' | translate }} ({{ editable.incompleteFlights.length }})"
                show-close="true" close-func="closeHeader()"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" sort-query-string="getSortQueryString()">
                            <table class="table table-striped table-bordered table-hover table-condensed"
                                sort-query-string="getSortQueryString" table-sort="refreshOverride();">
                                <thead>
                                    <tr>
                                        <th translate class="text-nowrap" sort="operator">Operator</th>
                                        <th translate class="text-nowrap">Flight Id</th>
                                        <th translate class="text-nowrap">Registration Number</th>
                                        <th translate class="text-nowrap">Day of Flight</th>
                                        <th translate class="text-nowrap">Departure Time</th>
                                        <th translate class="text-nowrap">Status</th>
                                        <th translate class="text-nowrap">Issues</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        ng-repeat="item in editable.incompleteFlights | orderBy: incompleteFlightSort(editable.sort)">
                                        <td class="text-nowrap">{{ item.account_name}}</td>
                                        <td class="text-nowrap">{{ item.flight_id }}</td>
                                        <td class="text-nowrap">{{ item.registration }}</td>
                                        <td class="text-nowrap">{{ item.day_of_flight | dateConverter}}</td>
                                        <td class="text-nowrap">{{ item.departure_time }}</td>
                                        <td class="text-nowrap">{{ item.status }}</td>
                                        <td class="text-nowrap">{{ item.issues.join(', ') }}</td>
                                    </tr>
                                    <tr ng-show="!editable.incompleteFlights.length">
                                        <td class="text-center" colspan="7" translate>There are no incomplete flight
                                            movements</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-20" ng-show="recalculateJob">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header icon="'plane'" title="{{ 'Recalculating Flight Movements' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="feedback">
                            <u translate>Recalculation</u>
                            <span
                                ng-show="processing === false && recalculateJob.job_execution_status !== 'STARTED' && recalculateJob.job_execution_status !== 'QUEUED'"
                                class="btn btn-sm pull-right" ng-click="recalculateJob = null;">X</span>
                            <br>
                            <span translate>Period:</span>
                            <span>&nbsp;{{ recalculateJob.job_parameters }}</span>
                            <br>
                            <span translate>Started:</span>
                            <span>&nbsp;{{ recalculateJob.start_time | dateConverter: 'HH:mm' }}</span>
                            <br>
                            <span translate>Status:</span>&nbsp;
                            <span translate>{{ recalculateJob.job_execution_status }}</span>
                            <br>
                            <span translate>Total Records:</span>
                            <span>&nbsp;{{ recalculateJob.total_steps }}</span>
                            <br>
                            <span translate>Processed:</span>
                            <span>&nbsp;{{ recalculateJob.steps_completed + recalculateJob.steps_aborted }}</span>
                            <br>
                            <span translate>ETC:</span>
                            <span>&nbsp;{{ recalculateJob.etc_time | dateConverter: 'HH:mm' }}</span>
                            <span ng-show="recalculateJob.seconds_left">&nbsp;({{ recalculateJob.seconds_left }})</span>
                            <br>
                            <span translate>Rate:</span>
                            <span>&nbsp;{{ recalculateJob.rate }}</span>
                            <br>
                            <br>
                            <uib-progressbar max="recalculateJob.total_steps"
                                value="recalculateJob.steps_completed + recalculateJob.steps_aborted"
                                ng-show="recalculateJob.job_execution_status !== 'STARTING'" style="height: 10px">
                            </uib-progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row margin-top-20" ng-show="generateJob && generateJob.job_execution_status !== 'CANCELED'">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header icon="'plane'" title="{{ 'Generate/Preview Invoice' | translate }}"></box-header>
            <div class="box-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="feedback" style="width: 500px;">
                            <u translate>Generate/Preview Invoice</u>
                            <span class="btn btn-sm pull-right" ng-show="processing === false"
                                ng-click="generateJob = null;">X</span>
                            <br>
                            <span translate>Period:</span>
                            <span>&nbsp;{{ generateJob.job_parameters }}</span>
                            <br>
                            <span translate>Started:</span>
                            <span>&nbsp;{{ generateJob.start_time | dateConverter: 'HH:mm' }}</span>
                            <br>
                            <span translate>Status:</span>&nbsp;
                            <span translate>{{ generateJob.job_execution_status }}</span>
                            <br>
                            <span translate>Message:</span>
                            <span ng-show="generateJob.message">&nbsp;{{ generateJob.message }}</span>
                            <span ng-show="!generateJob.message">&nbsp;<span translate>Initializing ...</span></span>
                            <br>
                            <span ng-show="generateJob.accountName">
                                <span translate>Account:</span>
                                <span>
                                    <span>&nbsp;{{ generateJob.accountName }} ({{ generateJob.accountNumber }} of {{
                                        generateJob.accountsTotal }})</span>
                                </span>
                                <span ng-show="generateJob.flightsTotal">
                                    <br>
                                    <span translate>Flights:</span>
                                    <span ng-show="generateJob.flightsTotal">
                                        <span>&nbsp;Processing {{ generateJob.flightNumber }} of {{
                                            generateJob.flightsTotal }}</span>
                                    </span>
                                </span>
                            </span>
                            <br>
                            <br>
                            <uib-progressbar ng-show="generateJob.accountsTotal" max="generateJob.accountsTotal"
                                value="getProgressBarValue(generateJob.accountsTotal, generateJob.accountNumber, generateJob.flightsTotal, generateJob.flightNumber)"
                                style="height: 10px">
                            </uib-progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="preview">
    <div class="col-sm-12 preview-oauth2-container">
        <button class="btn btn-xs preview-oauth2-close" ng-click="hide = true; preview = null;">
            <i class="fa fa-close"></i>
        </button>
        <div ng-bind-html="preview">
            <!-- iframe renders in here -->
        </div>
    </div>
</div>
