<securityInterceptor>
  <id>-1f6309ec:14475899504:-7ff4</id>
  <name>restInterceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>restFilterDefinitionMap</securityMetadataSource>
</securityInterceptor>