<div class="row">
    <div class="col-xs-12">
        <div class="box-container">
            <box-header page-name="help" icon="'code'" title="{{ 'About' | translate }}"></box-header>
            <div class="box-content">

                <form novalidate action="#" name="form" onsubmit="return false">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th translate>Key</th>
                                            <th translate>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, val) in ::list track by key">
                                            <td>{{ key }}</td>
                                            <td>{{ val }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

                <div>
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="{{ 'Version' | translate }} {{ ::version }}"
                             is-open="isReleaseAccordionOpen[$index]" ng-init="isReleaseAccordionOpen[$index] = $first"
                             ng-repeat="(version, items) in ::releasenotes | orderBy: orderByReleaseVersion | groupBy: 'release_version'"
                             id="release-{{ ::version }}">
                            <div ng-repeat="(category, notes) in ::items | orderBy: 'release_category.sort_order' | groupBy: 'release_category.title'">
                                <p id="release-{{ ::version }}-category-{{ ::category }}">
                                    <b translate>{{ ::category }}</b>
                                </p>
                                <ul>
                                    <li ng-repeat="note in ::notes | orderBy: 'number' track by note.id" ng-class="{ 'work-item-reopened': note.reopened }" id="release-{{ ::version }}-item-{{ ::note.id }}">
                                        {{ ::note.number }} - 
                                        <span translate>{{ ::note.title }}</span>
                                        <label for="release-{{ ::version }}-item-{{ ::note.id }}" ng-if="note.reopened" class="label label-warning" translate>
                                            Reopened
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </uib-accordion>
                </div>

            </div>
        </div>
    </div>
</div>
