<settings>
  <servers>
    <server>
      <id>deploy</id>
      <username>${env.MAVEN_DEPLOY_USER}</username>
      <password>${env.MAVEN_DEPLOY_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>world</id>
          <url>${env.MAVEN_WORLD_REPO}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>deploy</id>
          <url>${env.MAVEN_DEPLOY_REPO}</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>world</id>
      <url>${env.MAVEN_WORLD_REPO}</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
