<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box-container">
            <box-header icon="'envelope'" title="Query Submission"></box-header>
            <div class="box-content">
                <form novalidate action="#" name="form" onsubmit="return false">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <label for="sender-email">{{ 'From' | translate }}:</label>
                            <input id="sender-email" class="form-control" placeholder="your email..."
                                translate translate-attr-placeholder="your email..."
                                type="email" ng-model="editable.sender_email" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <label for="subject">{{ 'Subject' | translate}}:</label>
                            <input id="subject" class="form-control" placeholder="email subject..."
                                translate translate-attr-placeholder="email subject..."
                                type="text" ng-model="editable.subject" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label for="message">{{ 'Message' | translate}}:</label>
                            <textarea class="textarea" ng-model="editable.message" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button translate type="button" class="btn btn-primary btn-discard"
                                ng-click="discard(); form.$setUntouched();">
                                Discard
                            </button>
                            <button translate class="btn btn-primary btn-send" ng-disabled="form.$invalid || !showButton"
                                ng-click="send(editable); form.$setUntouched();">
                                Send
                            </button>
                        </div>
                    </div>

                    <ng-include src="'app/angular-ids-project/src/components/errorHandling/errorHandling.template.html'">
                        <!-- Error Handling -->
                    </ng-include>

                    <div ng-show="messageSent" class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="feedback">
                                        <span translate>The email has been successfully sent</span>
                                        <span class="btn btn-xs pull-right" ng-click="messageSent = false">X</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Recaptcha Widget -->
                <div class="row">
                    <div class="col-xs-12">
                        <recaptcha ng-class="{'disabled-captcha': form.$invalid}"></recaptcha>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
