[ng-class="main.cached-events"] {

    .cached-event-metadata-container .box-content .cached-event-metadata {
        border-radius: 3px;

        &:nth-child(odd) {
            background-color: #f5f5f5;
        }

        &:nth-child(even) pre {
            background-color: #ffffff;
        }

        pre {
            clear: both;
            max-height: 150px;
        }
    }
}
